.vs/AXamarinTestProject/v14/.suo
AXamarinTestProject/AXamarinTestProject.Droid/obj/
AXamarinTestProject/AXamarinTestProject.WinPhone/obj/
AXamarinTestProject/AXamarinTestProject.Windows/obj/
AXamarinTestProject/AXamarinTestProject.Droid/bin/
AXamarinTestProject/AXamarinTestProject/bin/
AXamarinTestProject/AXamarinTestProject.iOS/bin/
AXamarinTestProject/AXamarinTestProject/obj/
AXamarinTestProject/AXamarinTestProject.iOS/obj/
